<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<caption>Titulo da minh Tabela</caption>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>titulo</th>
					<th>noticia</th>
				</tr>
			</thead>
			<tbody>
				<!-- varrendo o vetor de json -->
				<% for( var i=0; i< noticias.length; i++){ %>
				<tr>
					<td><%= noticias[i].id %></td>   <!-- imprimi na tela -->
					<td><%= noticias[i].titulo%></td>
					<td><%= noticias[i].noticia%></td>
				</tr>
				<% }%>
			</tbody>
		</table>

	</body>
</html>